Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
enc_temp_folder/48d8dfd6629b9b56f566dc26fbe1dde/TowerPlayerController.h
enc_temp_folder/91ca83e802c6e8c857782578015be76/Tower1.h
/enc_temp_folder
